/* 



#youWon{
    display:none;
    font-size: 100px;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Shrek', arial;

}

.container{
    text-align:center;

}

#head-img{
    display: block;
    margin: 0 auto;
    width: 800px;
    padding-bottom: 50px;
}

.game-col{
    border: 6px white dashed;
    padding:25px;

}
#youwin-image{
    display: none;
    width:200px;
    height:200px;
}

#gameover-image{
    display: none;
}

#guesses-left{
    font-size: 25px;
}
 */


 body {
    color:white;
    padding-top: 20px;
    font-family: 'Merienda', cursive;
    background: url('../images/dark_wood.png') repeat;
    background-size: auto; 
}
